@*<!--@(ttypes: List[model.ToolType])-->

<!--@main("Add Tools"){-->

<!--<form action="@routes.Tools.create()" method="post">-->
    <!--<label for="name">Tool Name:</label>-->
    <!--<input type="text" name="name">-->
    <!--<br>-->

    <!--<label for="tooltype_id">Type of Tool</label>-->
    <!--<select name="tooltype_id" id="tooltype">-->
        <!--@for(y <- ttypes) {-->
        <!--<option value="@y.id">@y.name</option>-->
        <!--}-->
    <!--</select>-->

    <!--<label for="description">Description of Tool:</label>-->
    <!--<input type="text" name="description">-->

    <!--<br>-->
    <!--<button>Submit</button>-->
<!--</form>-->
<!--}-->*@