@(tool: model.Tool )

@main("Tool Types") {

<h2>Tool: @tool.name</h2>
<p>Type: @tool.toolType.name</p>
<p>Owner: @tool.owner.username</p>
<br>
<p>Description: @tool.description</p>
for test
<p>@tool.id</p>


@*<form action="@routes.Tools.createComment()" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title">
    <br>
    <label for="body">Comment: </label>
    <input type="text" name="body">
    <br>

    <input type="hidden" name="tool_id" value=@tool.id>
    <button>Post Comment</button>
</form>*@
}
