@(tool: model.Tool, comments: List[model.Comment], transaction: List[model.Transaction])

@main("Tool Types") {
<table>
    <tr>
        <td>
            <h2>Tool: @tool.name</h2>

            <p>Type: @tool.toolType.name</p>

            <p>Owner: @tool.owner.username</p>

            <p>Description: <br>@tool.description</p>
            @if(transaction.isEmpty){
            <p>Available: True</p>
            }else{
            @if(!transaction.isEmpty && transaction.get(transaction.size()-1).Available){
            <p>Available: True</p>
            }else{
            <p>Available: @transaction.get(transaction.size()-1).Available </p>

            <p>Borrowed By: @transaction.get(transaction.size()-1).renter.username </p>
            }
            }
            @for(c <- comments) {
            <li>
                Body: @c.body
                <br>Posted By: @c.user.username
            </li>
            }
        </td>
        <td><br>
            <br>
        </td>
        <td>
            <br>
            <br>

            <form action=@routes.Tools.createComment() method="post">
                <label for="body">Comment: </label>
                <input type="text" name="body" required>
                <br>
                <input type="hidden" value="@tool.id" name="tool_id"/>
                <button>Submit</button>
            </form>
            <form action=@routes.UserPage.addTrans() method="post">
                <input type="hidden" value="@tool.id" name="tool_id"/>
                <button>Rent Me</button>
            </form>
        </td>
    </tr>
</table>
}
