@(tool: model.Tool, comments: List[model.Comment], transactions: List[model.Transaction], ttypes: List[model.ToolType])

    @main("Tool Types") {

    @header(ttypes)

        <div class="full" style="">
                <!-- NAV AND CONTENT CONTAINER -->
            <div class="container-fluid">
                <div class="row-fluid">

                        <!-- SIDE BAR NAVIGATION -->
                    <div class="span2" style="opacity:0.9">
                        <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="nav-header">Site Navigation</li>
                                <li><a href="@routes.Application.loginform()">Login</a></li>
                                <li><a href="@routes.Application.signupform()">Sign Up</a></li>
                                <li><a href="@routes.Tools.index()">Tools</a></li>

                            </ul>
                        </div><!--/.well -->
                    </div><!--/span-->

                    <!-- SIDE BAR NAVIGATION -->
                    <!-- OUR CONTENT -->
                    <div class="span6">

                        <div class="hero-unit" style="background-color:white ; opacity:0.85">
                            @if(flash.containsKey("success")) {
                                <h3>Success:
                                    @flash.get("success")</h3>
                            }
                            @if(flash.containsKey("error")) {
                                <h3>Error:
                                    @flash.get("error")</h3>
                            }
                            <table>
                                <tr>
                                    <td style="padding:20px">
                                        <img src="@tool.image" style="height:250px; width:250px">
                                    </td>
                                    <td>
                                        <h2>Tool: @tool.name</h2>
                                        <p>Type: @tool.toolType.name</p>

                                        <p>Owner: @tool.owner.username</p>

                                        <p>Description: <br>@tool.description</p>

                                        @if(tool.transactionList.isEmpty) {
                                            <p>Availability: Available</p>
                                        } else {
                                            @if(transactions.get(transactions.size() - 1).Available) {
                                                <p>Availability: Available</p>
                                            } else {
                                                <p>Availability: Borrowed</p>
                                                <p>Borrowed By: @transactions.get(transactions.size() - 1).renter.username</p>
                                            }
                                        }
                                    </td>
                                    <td></td>
                                    <td style="padding:30px">
                                        <h2>Comments: </h2>
                                        @for( c <- comments) {
                                        <li>
                                            @c.body
                                            <br>Posted By: @c.user.username
                                        </li>
                                        }
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div><!--/span-->
                    <!-- OUR CONTENT -->
                </div><!--/row-->
            </div>
                <!-- NAV AND CONTENT CONTAINER -->
        </div>
    }
