@(user: model.User, tools: List[model.Tool], ttypes: List[model.ToolType], transactions: List[model.Transaction])

    @users.main("Tools") {

        @uheader(user, ttypes)

        <div class="full" style="">
                <!-- NAV AND CONTENT CONTAINER -->
            <div class="container-fluid">
                <div class="row-fluid">

                        <!-- SIDE BAR NAVIGATION -->
                    <div class="span2" style="opacity:0.9">
                        <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="nav-header">Site Navigation</li>
                                <li><a href="@routes.Application.logout()">Log Out</a></li>
                                <li><a href="@routes.Tools.index()">All Tools</a></li>
                                <li><a href="@routes.Tools.toolform()">Add Tool</a></li>
                            </ul>
                        </div><!--/.well -->
                    </div><!--/span-->
                    <!-- SIDE BAR NAVIGATION -->

                    <!-- OUR CONTENT -->
                    <div class="span6">

                        <div class="hero-unit" style="background-color:white ; opacity:0.85">
                            @if(flash.containsKey("success")) {
                                <h3 align="center">Success:
                                    @flash.get("success")</h3>
                            }
                            @if(flash.containsKey("error")) {
                                <h3 align="center">Error:
                                    @flash.get("error")</h3>
                            }
                            @if(tools.isEmpty()) {
                                <h2 align="center">No Tools available</h2>
                            } else {
                                <h2 align="center">Tool List</h2>
                                <ul>
                                @for( t <- tools) {
                                    @if(t.transactionList.isEmpty) {
                                            <table>
                                                <tr>
                                                    <td style="padding:10px">
                                                        <a href="/tools/@t.id"><img src="@t.image" class="img-thumbnail" width="150" height="150"></a>
                                                    </td>

                                                        <td><h3><a href="/tools/@t.id">@t.name</a></h3>
                                                                Type: @t.toolType.name
                                                                <br>Owner: <a href="tools/searchusertools?user=@t.owner.id">@t.owner.username</a>
                                                    </td>
                                                    <td style="padding:20px">
                                                        <form action=@routes.UserPage.addTrans() method="post">
                                                            <input type="hidden" value="@t.id" name="tool_id"/>
                                                            <button>Borrow Me</button>
                                                        </form>
                                                    </td>
                                                    </tr>
                                        </table>
                                    } else {
                                        @if(transactions.get(transactions.size()-1).Available) {
                                            <table>
                                                <tr>
                                                    <td style="padding:10px">
                                                        <a href="/tools/@t.id"><img src="@t.image" class="img-thumbnail" width="150" height="150"></a>
                                                    </td>

                                                    <td><h3><a href="/tools/@t.id">@t.name</a></h3>
                                                            Type: @t.toolType.name
                                                            <br>Owner: @t.owner.username
                                                    </td>
                                                    <td style="padding:20px">
                                                        <form action=@routes.UserPage.addTrans() method="post">
                                                            <input type="hidden" value="@t.id" name="tool_id"/>
                                                            <button>Borrow Me</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        } else {
                                            <table>
                                                <tr>
                                                    <td style="padding:10px">
                                                        <a href="/tools/@t.id"><img src="@t.image" class="img-thumbnail" width="150" height="150"></a>
                                                    </td>

                                                    <td>
                                                    <h3><a href="/tools/@t.id">@t.name</a></h3>
                                                        <h4> Not Available </h4>
                                                        Type: @t.toolType.name
                                                        <br>Owner: @t.owner.username
                                                    </td>
                                                </tr>
                                            </table>
                                        }
                                    }

                                }
                                </ul>
                            }
                        </div>

                    </div><!--/span-->
                    <!-- OUR CONTENT -->
                </div><!--/row-->
            </div>
                <!-- NAV AND CONTENT CONTAINER -->
        </div>
    }