@(user: model.User, comments: List[model.Comment], transactions: List[model.Transaction], tool: model.Tool, ttypes: List[model.ToolType])

@users.main("Tool Types") {

@uheader(user, ttypes)

<div class="full" style="">
    <!-- NAV AND CONTENT CONTAINER -->
    <div class="container-fluid">
        <div class="row-fluid">

            <!-- SIDE BAR NAVIGATION -->
            <div class="span2" style="opacity:0.9">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Site Navigation</li>
                        <li><a href="@routes.Application.logout()">Log Out</a></li>
                        <li><a href="@routes.Tools.index()">Borrow Tools</a></li>
                        <li><a href="@routes.ToolTypes.index()">Add Tool Category</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <!-- SIDE BAR NAVIGATION -->

            <!-- OUR CONTENT -->
            <div class="span6">

                <div class="hero-unit" style="background-color:white; opacity:0.85">
                    @if(flash.containsKey("success")) {
                    <h3 align="center">Success:
                        @flash.get("success")</h3>
                    }
                    @if(flash.containsKey("error")) {
                    <h3 align="center">Error:
                        @flash.get("error")</h3>
                    }
<table>
    <tr>
        <td>
            <h2>Tool: @tool.name</h2>

            <p>Type: @tool.toolType.name</p>

            <p>Owner: @tool.owner.username</p>

            <p>Description: <br>@tool.description</p>

            @if(tool.transactionList.isEmpty) {
            <p>Availability: Available</p>
            } else {
            @if(transactions.get(transactions.size() - 1).Available) {
            <p>Availability: Available</p>
            } else {
            <p>Availability: Borrowed</p>
            <p>Borrowed By: @transactions.get(transactions.size() - 1).renter.username</p>
            }
            }

            <h3>Comments: </h3>
            @for( c <- comments) {
            <li>
                @c.body
                <br>Posted By: @c.user.username
            </li>
            }
        </td>
        <td><br>
            <br>
        </td>
        <td>
            <br>
            <br>

            <form action=@routes.Tools.createComment() method="post">
                <label for="body">Comment: </label>
                <input type="text" name="body" required>
                <br>
                <input type="hidden" value="@tool.id" name="tool_id"/>
                <button>Submit</button>
            </form>
            <form action=@routes.UserPage.addTrans() method="post">
                <input type="hidden" value="@tool.id" name="tool_id"/>
                <button>Borrow Me</button>
            </form>
        </td>
    </tr>
</table>
                </div>

            </div><!--/span-->
            <!-- OUR CONTENT -->
        </div><!--/row-->
    </div>
    <!-- NAV AND CONTENT CONTAINER -->
</div>
}