@(user: model.User, tools: List[model.Tool], ttypes: List[model.ToolType], trans: List[model.Transaction])

    @main("My Borrowed") {
        @uheader(user, ttypes)

        <div class="full" style="">
                <!-- NAV AND CONTENT CONTAINER -->
            <div class="container-fluid">
                <div class="row-fluid">

                        <!-- SIDE BAR NAVIGATION -->
                    <div class="span2" style="opacity:0.9">
                        <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="nav-header">Site Navigation</li>
                                <li><a href="@routes.Application.logout()">Log Out</a></li>
                                <li><a href="@routes.Tools.index()">Borrow Tools</a></li>
                                <li><a href="@routes.ToolTypes.index()">Add Tool Category</a></li>
                            </ul>
                        </div><!--/.well -->
                    </div><!--/span-->

                    <!-- SIDE BAR NAVIGATION -->
                    <!-- OUR CONTENT -->
                    <div class="span6">

                        <div class="hero-unit" style="background-color:white ; opacity:0.85">
                            @if(flash.containsKey("success")) {
                                <h3 align="center">Success:
                                    @flash.get("success")</h3>
                            }
                            @if(flash.containsKey("error")) {
                                <h3 align="center">Error:
                                    @flash.get("error")</h3>
                            }
                            <h2 align="center">My Borrowed Tools:</h2>

                            @if(trans.isEmpty) {
                                <h2 align="center">No Tools Borrowed</h2>
                                <h2 align="center"><a href="@routes.Tools.index()">Borrow Tools</a></h2>
                            } else {

                                <ul>
                                @for( tr <- trans) {
                                    @for( tl <- tools) {
                                        @if(tr != null && tr.to_borrow.id == tl.id && tr.renter.id == user.id) {

                                            <li><form action=@routes.UserPage.returnTool() method="post">
                                                <a href="/tools/@tl.id">@tl.name</a>
                                                Borrowed from: @tr.to_borrow.owner.username

                                                <button>Return Tool</button>
                                                <input type="hidden" value="@tl.id" name="tool_id"/>
                                            </form></li>
                                        }
                                    }
                                }

                                </ul>
                            }
                        </div>

                    </div><!--/span-->
                    <!-- OUR CONTENT -->
                </div><!--/row-->
            </div>
                <!-- NAV AND CONTENT CONTAINER -->
        </div>
    }