@(message: String)

@main("HubCT") {

    <h1>@message</h1>

<table>
    <tr>
        <td>
    <h3>Login Form</h3>
    <form action="@routes.Application.login()" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <br>

        <label for="password">Password</label>
        <input type="password" name="password">
        <br>

        <button>Login</button>
    </form>
        </td>
        <td><br>
        </td>
        <td>
    <h3>Signup Form</h3>
    <form action="@routes.Application.signup()" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <br>

        <label for="confirm_email">Confirm Email</label>
        <input type="email" name="confirm_email" id="confirm_email" onblur="confirmEmail()">
        <br>

        <script type="text/javascript">
                function confirmEmail() {
                    var email = document.getElementById("email").value;
                    var confemail = document.getElementById("confirm_email").value;
                    if(email != confemail) {
                        alert('Email Not Matching!');
                    }
                }
        </script>

        <label for="username">Username</label>
        <input type="text" name="username">
        <br>

        <label for="password">Password</label>
        <input type="password" name="password" pattern=".{8,}" required title="8 characters minimum">
        <br>

        <label for="confirm_password">Password</label>
        <input type="password" name="confirm_password" id="confirm_password" onblur="confirmPassword()"
        pattern=".{8,}" required title="8 characters minimum">
        <br>

        <script type="text/javascript">
                function confirmPassword() {
                    var password = document.getElementById("password").value;
                    var confpassword = document.getElementById("confirm_password").value;
                    if(password != confpassword) {
                        alert('Passwords Not Matching!');
                    }
                }
        </script>

        <button>Sign Up</button>
    </form>
    </td>
    </tr>
</table>


}