@main("Login") {

    <div class="full" style="">
            <!-- NAV AND CONTENT CONTAINER -->
        <div class="container-fluid">
            <div class="row-fluid">

                    <!-- SIDE BAR NAVIGATION -->
                <div class="span2" style="opacity:0.9">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Site Navigation</li>
                            <li><a href="@routes.Application.loginform()">Login</a></li>
                            <li><a href="@routes.Application.signupform()">Sign Up</a></li>
                            <li><a href="@routes.Tools.index()">Tools</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

                <!-- SIDE BAR NAVIGATION -->
                <!-- OUR CONTENT -->
                <div class="span6">

                    <div class="hero-unit" style="background-color:white ; opacity:0.85">
                        @if(flash.containsKey("success")) {
                            <h3 align="center">Success:
                                @flash.get("success")</h3>
                        }
                        @if(flash.containsKey("error")) {
                            <h3 align="center">Error:
                                @flash.get("error")</h3>
                        }
                        <h2 align="center">Login Form</h2>
                        <h2 align="center">
                            <form action="@routes.Application.login()" method="post">
                                <label for="username">Username</label>
                                <input type="text" name="username">
                                <br>

                                <label for="password">Password</label>
                                <input type="password" name="password">
                                <br>

                                <button>Login</button>
                            </form>
                        </h2>

                        <h3 align="center">Or you can
                            <a href="@routes.Application.signupform()">Sign Up</a>
                            for a free account
                        </h3>
                    </div>

                </div><!--/span-->
                <!-- OUR CONTENT -->
            </div><!--/row-->
        </div>
            <!-- NAV AND CONTENT CONTAINER -->
    </div>
}