@(title: String)(content: Html)


<!DOCTYPE html>
<meta name=""viewport" content="width = device-width, initial-scale = 1">
<html lang="en" xmlns="http://www.w3.org/1999/html" class="full">

    <head>
        <title>@title</title>
    </head>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <body style="margin-top:50px">

                @content
    </body>
</html>
